<li>
	{{name}}
 {{#unless devoured}}
	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}OM NOM!{{/if}}
	</button>
 {{/unless}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
